.search {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   flex-wrap: wrap;
   margin-bottom: 48px;
   input , select{
      border: 0;
      outline: 0;
   }
   .input , .filter-region{
      padding: 18px 24px;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
   }
   .search-input {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 480px;
      input {
         flex-grow: 1;
      }
   }
}

@media screen and (max-width: 709px){
   .search {
      .search-input {
         width: 100%;
      }
   }
}