@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;0,6..12,800;1,6..12,400&display=swap');

.container {
   max-width: 1280px;
   margin: 0 auto;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: #FAFAFA;
   font-family: 'Nunito Sans', sans-serif;
}

input , button {
   font-family: 'Nunito Sans', sans-serif;
}

input {
   padding: 0;
}

button {
   padding: 0;
   border: 0;
   background-color: transparent;
   cursor: pointer;
}

.mode-btn {
   display: flex;
   align-items: center;
   gap: 8px;
}

// body {
//    &.dark-mode {
//       background: #202C36;
//    }
// }